doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='../CSS/style.css' type='text/css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css' integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==' crossorigin='anonymous' referrerpolicy='no-referrer')
    link(rel='stylesheet' href='../CSS/details.css')
    title Details
  nav
    i.fa-solid.fa-stethoscope
    ul
      li 
        a(href='/') Home
      li Service
      li 
        a(href='/contact') Contact
      li 
        a(href='/about') About
    .credentials
      button.btnSignup
        a(href='/') Logout
  .details--container
    .details
      .personalDetail
        button.back(data-role=`${role}`)
          a(href='/getAllPatients')
            i.fa-solid.fa-arrow-left
            span back
        img(src='../img/profile.jpg' alt='this is image')
        table.details_table
          tr
            td.detail--label name
            td.detail--data #{patient.name}
          tr
            td.detail--label patient ID
            td.detail--data #{patient.patientID}
          tr
            td.detail--label age
            td.detail--data #{patient.age}
          tr
            td.detail--label gender
            td.detail--data #{patient.gender}
          tr
            td.detail--label admit date
            td.detail--data #{patient.admitDate}
          tr
            td.detail--label Bed Number
            td.detail--data #{patient.bed_no}
          tr
            td.detail--label mobile
            td.detail--data #{patient.mobile_no}
         
      .medicalDetail
        .disease
          .label DISEASE
          span #{patient.disease}
        .health
          .label HEALTH
          table.health--table
            tr.health--odd
              td Heart beat
              td #{patient.health.heartBeat}
            tr.health--even
              td SP O2
              td #{patient.health.SPO2}
            tr.health--odd
              td BP
              td #{patient.health.BP}
            tr.health--even
              td body Temp
              td #{patient.health.bodyTemp}
        .medicine
          .label MEDICINE
          table.medicine--table
            each med in patientMedicine
              tr.medicine--data
                td.medicine--time #{med.time}
                td.medicine--task #{med.task}
                td.medicine--isDone
                  input#isDone(type='checkbox' name='isDone' onclick='return false' checked=(med.isDone===true ? 'checked' : undefiend ))


            //- tr
            //-   td.medicine--lable DOLO 650
            //-   td.medicine--data M-A-N
        .treatments
          .label TREATMENTS
          .label.reportLabel REPORT
          table.treatments--table
            td #{patient.treatments}
            td 
              button(name='showReport' id='showReport' data-report=`${patient.report}`) Show Report
  .reportBox.hidden#goTo 
    img(src=`../img/${patient.report}`, alt="")
           
script(src='../JS/details.js')
